// Base Class Definition
// -------------------------
$xa-css-prefix:       xa !default;

.#{$xa-css-prefix} {
  font-family: tpe-awesome;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

#logo {
  background-image: linear-gradient(to left, gray, black);
}



.filter-container {
  margin-bottom: 20px;
}
.filter-container label {
  margin-right: 10px;
}
.details-section {
  margin-bottom: 10px;
}



.item-description {
  .user-select-none {
    user-select: none;
  }
  visibility: hidden;
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 12px;
  background-color: #192733;
  //border-radius: 10px;
  padding: none;
}