:root {
    --light: #faf8f8;
    --dark: #141021;
    --secondary: #0e414c;
    --tertiary: #3b82f6;
    --visited: #3b82f6;
    --primary: #0e414c;
    --gray: #3f3f3f;
    --lightgray: #f0f0f0;
    --outlinegray: #dadada;
    --million-progress-bar-color: var(--secondary);
    --highlighted: #3b82f6;
    --header: #3b82f6;
    --title: #0e414c;
    --scrollbar: gray;
    --scrollbar-track: #DDD;
}

[saved-theme="dark"] {
    --light: #111827 !important;
    --dark: #f9faf2 !important;
    --secondary: #e7e7b0 !important;
    --visited: #3b82f6 !important;
    --tertiary: #3b82f6 !important;
    --primary: #e7e7b0 !important;
    --gray: #d4d4d4 !important;
    --lightgray: #292633 !important;
    --outlinegray: #343434 !important;
    --highlighted: #574010;
    --header: #3b82f6;
    --title: rgb(255, 255, 255);
    --scrollbar: rgb(177, 177, 177);
    --scrollbar-track: rgb(51, 51, 51);
}
